$font-color: #252422;
$font-alternative-color: #fffcf2;
$accent-color: #eb5e28;
$background-color: #fffcf2;
$background-alternative-color: #403d39;
$default-photo-width: 350px;
$third-width: calc((100% / 3) * 2);
$media-width-tablet: 767px;
