@media (max-width: $media-width-tablet) {
    body {
        width: 100vw;
        margin: 10px;
    }
    
    .aside {
        display: none;
    }
    
    .site-header {
        justify-content: space-between;
    }

    .site-header .title {
        margin: 0;
    }

    .technology-grid {
        grid-template-columns: 100%;
        margin: 0 7px 10px;
    }

    .technology-grid .main {
        grid-column: 1 / 1;
    }
}

@media (max-width: $media-width-smaller) {
    body {
        width: 90vw;
        margin: 10px;
    }

    .aside {
        justify-self: end;
    }

    .technology-grid .main {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: $media-width-phone) {
    .technologies-grid {
        grid-template-columns: 100%;
        margin: 0 7px 10px;
    }

    .technologies-grid h1 {
        grid-column: 1 / 1;
    }

    .analysis-grid {
        grid-template-columns: 100%;
        margin: 0 7px 10px;
    }

    .analysis-grid h1 {
        grid-column: 1 / 1;
    }

    .box:last-child {
        grid-column: 1 / 1;
    }

    .nav .theme a {
        margin-top: 5px;
    }

}

// @media (min-width: 35em) {
//     .website-img {
//         width: 35em;
//     }
// }
