@media (max-width: $media-width-tablet) {
    body {
        width: 100%;
        margin: 10px;
    }
}

@media (max-width: $media-width-phone) {
    .technologies-grid {
        grid-template-columns: 100%;
    }

    .technologies-grid h1 {
        grid-column: 1 / 1;
    }

    .technology-grid {
        grid-template-columns: 100%;
    }

    .technology-grid .main {
        grid-column: 1 / 1;
    }

    .aside {
        display: none;
    }

}
