.technologies-grid {
    display: grid;
    gap: 1em 1em;
    grid-template: 1fr / repeat(3, 1fr);

    h1 {
        grid-area: 1 / 1 / 1 / 4;
        justify-self: center;
    }
}

.box {
    border: solid 2px $font-alternative-color;
    padding: 1rem;
    box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
}

.box:last-child {
    grid-column: 1 / span 3;
}
