
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
// @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
$merriweather-font-path: '../../shared/googlefonts/Merriweather';
$roboto-font-path: '../../shared/googlefonts/Roboto';
@font-face {
    src: url('#{$roboto-font-path}/Roboto-Regular.ttf') format('truetype');

    font-family: 'Roboto';
    font-weight: 400;
    font-display: swap;
}
@font-face {
    src: url('#{$merriweather-font-path}/Merriweather-Regular.ttf') format('truetype');

    font-family: 'Merriweather';
    font-weight: 400;
    font-display: swap;
}

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

// BASE
@import 'base';

// LAYOUT

@import 'index';
@import 'header';
@import 'footer';
@import 'technologies';
@import 'technology';
@import 'analysis';
@import 'gallery';


// MEDIA
@import 'media';

//STATE
@import 'state';
