$font-color: #8ecae6;
$font-alternative-color: #219ebc;
$accent-color: #fb8500;
$shadow-color: #ffb703;
$border-color: #fb8500;
$background-color: #023047;
$background-alternative-color: #219ebc;
$default-photo-width: 350px;
$third-width: calc((100% / 3) * 2);
$media-width-tablet: 767px;
$media-width-phone: 530px;
$media-width-smaller: 1500px;
