$font-color: #023047;
$font-alternative-color: #023047;
$accent-color: #a15600;
$shadow-color: #023047;
$border-color: #a15600;
$background-color: #f8f8ff;
$background-alternative-color: #023047;
$default-photo-width: 350px;
$third-width: calc((100% / 3) * 2);
$media-width-tablet: 767px;
$media-width-phone: 530px;
$media-width-smaller: 1500px;
